.page {
  display: flex;
  height: 700px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;
}

.form {
  display: flex;
  flex-direction: column;
}

.coala {
  color: #e9d5ff;
  font-family: "SF Pro Rounded-Bold", Helvetica;
  font-size: 64px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.text {
  color: #000;
  font-family: SF Pro Rounded;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.12px;
  align-self: stretch;
}

.input {
  width: 400px;
  height: 40px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #D9D9D9;
}

.input::placeholder {
  color: #D9D9D9;
  font-family: SF Pro Rounded;
  font-size: 12px;
  font-style: normal;
}

.check-Text {
  font-family: "SF Pro Rounded-Regular", Helvetica;
  font-size: 12px;
  margin-left: 5px;
}

.button {
  background-color: #e9d5ff;
  border-radius: 7px;
  box-shadow: 0px 4px 4px #00000040;
  height: 50px;
  color: #ffffff;
  font-size: 14px;
  margin: 15px;
}

.afterlogin {
  display: flex;
  justify-content: center;
  width: 400px;
}

.afterlogin .grey {
  color: #D9D9D9;
  font-family: SF Pro Rounded;
  font-size: 14px;
  line-height: 20px;
  margin: 10px;
}

.error {
  color: #ff6060;
  font-family: "SF Pro Rounded-Medium", Helvetica;
  font-size: 12px;
  line-height: 20px;
  white-space: nowrap;
}